/*-- Start reset --*/
	a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,button,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,input,ins,kbd,label,legend,li,mark form,menu,nav,object,ol,option,output,p,pre,q,ruby,s,samp,section,select,small,span,strike,strong,sub,summary,sup,table,tbody,td,textarea,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;border:0;padding:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
	button,input[type=checkbox],input[type=image],input[type=radio],input[type=submit],label{cursor:pointer}
	strong{font-weight:700}
	em{font-style:italic}
	.fList{list-style:none}
	sub, sup {font-size: 0.8em;vertical-align:sub;}
	sup { vertical-align: super;}
/*-- End reset --*/


@keyframes after-intro-link-animation {
	0%, 50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


/*-- Start default element styling --*/

	html {
		font-size: 62.5%;/* 10px */
	}

	body {
		font-family: arial, Helvetica, sans-serif;
		font-size: 1.6rem;
		line-height: 1.5;
		color: #666;
		background: #fff;
	}

	h1,
	h2 {
		margin-bottom: 0.5em;
		color: #666;
		font-weight: bold;
		font-size: 4.8vw;
	}

	@media (min-width:875px) {
		h1,
		h2 {
			font-size: 4.2rem;
		}
	}

	h2 {
		text-transform: uppercase;
	}

	p {
		margin-bottom: 1em;
	}

	a {
		color: #ca1c03;
	}

	a:hover,
	a:focus {
		text-decoration: none;
	}

/*-- End default element styling --*/


.o-browser-width {
	padding: 0 4%;
}

.o-browser-width:nth-child(2n+1) {
	background: #f5f5f5;
}

.o-content-width {
	overflow: hidden;
	position: relative;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 2em 0 5em;
	max-width: 70em;
	min-height: 100vh;
	text-align: center;
}

.lesson {
	display: none;
}


/*-- Start rule per lesson --*/
	
	.rule {
		margin: 1em auto;
		max-width: 42em;
		font-family: georgia, serif;
		font-size: 2rem;
	}

	.rule__lemma {
		font-weight: bold;
	}

	.rule__classification {
		font-style: italic;
	}

	.toggle-container {
		position: relative;
		animation: after-intro-link-animation 3s;
	}

	.toggle--example {
		position: absolute;/* take out of flow */
		z-index: 1;
		display: block;
		width: 100%;
		transition: opacity 0.3s ease-out;
	}

	.hun-hebben .toggle--example {
		position: relative;
		margin-bottom: 1em;
	}

	.hun-hebben .persistent {
		display: inline-block;
		margin-bottom: 1.6rem;
		font-family: georgia, serif;
		font-size: 2rem;
	}

	.hun-hebben .toggle--example .persistent {
		font-family: inherit;
		font-size: inherit;
		text-decoration: underline;/* somehow doesn't inherit from a */
	}

	.hun-hebben .toggle--example:hover .persistent,
	.hun-hebben .toggle--example:focus .persistent {
		text-decoration: none;
	}

	.back-to-start {
		color: #ccc;
	}


/*-- End rule per lesson --*/


/*-- Start items --*/

	.item {
		box-sizing: border-box;
		opacity: 0;
		margin: 0 2%;
		vertical-align: top;
		transition: opacity 0.3s ease-out;
	}

	.item--sm {
		float: left;
		width: 46%;
	}

	.item--sm .media-box {
		width: 70%;
	}

	.item--md .media-box {
		width: 75%;
	}


	/* items that have row of items above need separator */
	.item--sm:nth-child(3) ,
	.item--sm:nth-child(4),
	.item--md:nth-child(2) {
		margin-top: 2em;
		border-top: 1px solid #ddd;
		padding-top: 1em;
	}

	@media (min-width: 860px) {
		.item--sm {
			width: 21%;
		}

		.item--sm .media-box {
			width: 97%;
		}


		.item--md:first-child:nth-last-child(2),
		.item--md:first-child:nth-last-child(2) ~ .item--md {
			/* only for 2 item--md's in one row */
			float: left;
			width: 46%;
		}

		.item--md .media-box {
			/* when there is 1 item--md in a row */
			width: 48%;
		}

		.item--md:first-child:nth-last-child(2) .media-box,
		.item--md:first-child:nth-last-child(2) ~ .item--md .media-box {
			/* only for 2 item--md's in one row */
			width: auto;/* this is the smallest type, the others get derived from this one */
		}


		.item--lg .media-box {
			width: 64%;
		}

		/* remove separator for items that had row of items above */
		.item--sm:nth-child(3) ,
		.item--sm:nth-child(4),
		.item--md:nth-child(2) {
			margin-top: 0;
			border-top: none;
			padding-top: 0;
		}

	}

	.disclosed .item,
	.item.disclosed {
		opacity: 1;
		/*transition: all 0.5s ease-out;*/
	}

	.media-box {
		margin: 0 auto;
		text-align: center;
		/*display: flex;*/
		/*flex: 2 0 0;*/
		/*align-items: flex-end;*/
		justify-content: center;
	}

	.media-box img {
		display: block;
		width: 100%;
		max-width: 100%;
		height: auto;
	}

	.stack-box {
		position: relative;
		line-height: 0;
	}

	.stack-box img {
		position: absolute;
		left: 0;
		bottom: 0;
	}

	.stack-box img:first-child {
		position: relative;/* without this, box won't have with */
	}

	.media-box img {
		display: inline-block;
		width: auto;
		height: auto;
	}

	h2.zij::first-letter {
		letter-spacing: 0.1em;/* correct kerning between Z and I */
	}

	.example--secondary {
		margin-top: -1em;
	}

	.toggle--explanation {
		position: relative;
		z-index: 1;/* make it appear on top of spans */
		display: block;
		margin-bottom: -1em;
		height: 1em;
		transition: all 0.3s ease-out;
	}

	.explained .toggle--explanation {
		font-size: 0;
	}

	.explanation {
		margin: 0 auto;
		max-width: 42em;
		text-align: left;
		font-size: 1.4rem;
	}

	.explanation__lemma,
	.explanation__classification,
	.explanation__description {
		color: transparent;
		transition: color 0.3s ease-out;
	}

	.explanation__lemma {
		font-weight: bold;
	}

	.explanation__classification {
		font-style: italic;
	}

	.explained .explanation__classification {
		color: #666;
	}

	.explained .explanation__lemma,
	.explained .explanation__description {
		color: inherit;
	}

	.explanation__description .unclip {
		display: inline-block;
		padding: 0 0.2em 0.3em;
		border-radius: 0.5em;
		background: transparent;
		color: transparent;
		line-height: 0.7;
		font-weight: bold;
		text-decoration: none;
		vertical-align: middle;
	}

	.explained .explanation__description .unclip {
		background: rgba(0,0,0,0.15);
		color: white;
	}

	h2 span {
		display: inline-block;
		white-space: nowrap;
	}



	.explained .onderwerp,
	.explained .zelfst-nw {
		color: #015b01;/* green */
	}

	.explained .lijdend-vw {
		color: #045faf;/* blue */
	}

	.explained .meewerkend-vw {
		color: #ca00c9;/* purple */
	}

	.explained .bijw-bepaling {
		color: #ca1c03;/* red */
	}

	.wrong {
		/*color: #666;*/
		position: relative;
	}

	.explained .wrong {
		color: #666;
	}

	.corrected {
		font-size: 0;
		transition: font-size 0.3s 0.6s ease-out;
	}



	.explained img.onderwerp,
	.explained img.zelfst-nw {
		/* green */
		-webkit-filter: sepia() saturate(200) hue-rotate(90deg);
		filter: sepia() saturate(200) hue-rotate(90deg);
	}

	.explained img.meewerkend-vw {
		/* orange */
		-webkit-filter: sepia() saturate(200) hue-rotate(300deg);
		filter: sepia() saturate(200) hue-rotate(300deg);
	}

	.explained img.lijdend-vw {
		/* blue */
		-webkit-filter: sepia() saturate(200) hue-rotate(200deg);
		filter: sepia() saturate(200) hue-rotate(200deg);
	}

	.explained img.bijw-bepaling {
		/* blue */
		-webkit-filter: sepia() saturate(200) hue-rotate(390deg);
		filter: sepia() saturate(200) hue-rotate(390deg);
	}

	.explained .bez-vnw,
	.explained .bez-vnw .explanation__lemma,
	.explained .bez-vnw .explanation__description {
		opacity: 0.5;
	}
	.explained .explanation .bez-vnw {
		opacity: 1;
	}

	.glue {
		/*overflow: hidden;*/
		/*max-width: 0;*/
		transition: font-size 0.3s ease-out;
		/*font-size: 0;*/
		font-weight: normal;
		line-height: 0.9em;
		color: inherit;
	}

	h2 .glue {
		font-family: "Arial narrow", "helvetica narrow", sans-serif;
	}

	.explained .glue {
		font-size: inherit;
		color: #ccc;
	}

/*-- End items --*/


/*-- Start more links --*/

	nav {
		position: absolute;
		bottom: 1em;
		width: 100%;
	}

	.intro nav {
		position: relative;
		bottom: auto;
		margin-top: 4em;
	}

	@keyframes start-link-animation {
		0%, 60% {
			opacity: 0;
		}
		100% {
			opacity: 1;
			background: #ca1c03;
		}
	}

	.start {
		animation: start-link-animation 1.5s forwards;
		background: inherit;
	}

	nav .more,
	.start {
		display: inline-block;
		padding: 0.5em 1em;
		color: white;
		text-decoration: none;
		opacity: 1;
		transition: 0.3s ease-out;
	}

	nav .more {
		background: #ca1c03;
	}

	nav .more:after,
	.start:after {
		position: absolute;
		left: 50%;
		bottom: -20px;
		margin-left: -10px;
		border: 10px solid transparent;
		border-top-color: #ca1c03;
		width: 0;
		height: 0;
		content: "";
		transition: 0.3s ease-out;
	}

	.start:hover,
	.start:focus,
	nav .more:hover,
	nav .more:focus {
		background: #b91c05;
	}

	.start:hover:after,
	.start:focus:after,
	nav .more:hover:after,
	nav .more:focus:after {
		border-top-color: #b91c05;
	}



/*-- End more links --*/


/*-- Start utilities --*/

	.u-is-transparent {
		opacity: 0 !important;/* use important so this utility always has precendence */
	}

	.u-hidden {
		display: none !important;/* use important so this utility always has precendence */
	}

/*-- End utilities --*/


/*-- Start debugging --*/

	.debug-disclose-container {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1;
	}

/*-- End debugging --*/